/* CODE WELCOME SECTION */
.welcome-section {
    display: flex;
    position: relative;
    width: 100%;
    height: calc(100vh - 5rem);
    flex-direction: column;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    align-items: center;
    justify-content: center;
    color: var(--color4);

    >h1 {
        font-size: 5vw;
    }

    >h3 {
        font-size: 2.3vw;
        font-weight: 400;
    }
}

.main-wrapper {
    flex-direction: column;
    display: flex;
    position: relative;
    width: auto;
    padding: 5vw 3.125rem 5vw 3.125rem;
    background-color: var(--color6);
    height: max-content;

    >.breadcrumbs-list {
        display: flex;
        margin-bottom: 1.5rem;

        >a {
            font-size: 1.35vw;
            text-decoration: none;
            color: var(--color1);
            transition: all 0.3s ease;

            &:hover {
                color: var(--color2);
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    >.introduction {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 3.5rem;
    }

    >.content {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 10%;
        >.card {
            width: 45%;
            height: 25vh;
            background-color: var(--color5);
            display: flex;
            box-shadow: 2px 0 2px rgba(0, 0, 0, 0.4), 0 2px 2px rgba(0, 0, 0, 0.4);
            border-radius: 7px;
            >.card-image {
                width: 40%;
                object-fit: cover;
                border-top-left-radius: 7px;
                border-bottom-left-radius: 7px;
                height: 100%;
            }
            >.card-content {
                padding: 1.5% 4%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                width: 100%;
                >.name {
                    font-weight: 600;
                    font-size: 1.25rem;
                }
                >.actions {
                    display: flex;
                    gap: 5%;
                    width: 100%;
                    >a {
                        display: flex;
                        width: 47.5%;
                        border-radius: 5px;
                        align-items: center;
                        justify-content: center; 
                        font-weight: 500;
                        transition: all 0.3s ease;
                        padding: 3% 0;
                        &.view-post {
                            background-color: transparent;
                            border: 2px solid var(--color2);
                            color: var(--color2);
                            &:hover {
                                background-color: var(--color3);
                                color: var(--color5);
                            }
                            
                        }
                        &.access {
                            color: var(--color5);
                            background-color: var(--color1);
                            &:hover {
                                background-color: var(--color2);
                            }
                        }
                    }
                }
            }
        }
    }
    >.pagination {
        margin-top: 10vh;
        display: flex;
        justify-content: center;
        align-self: center;
        font-size: 1.1vw;
        align-items: center;
        font-weight: bold;
        
        .page-numbers {
            font-size: 1.2vw;
            padding: 1vw 1.2vw;
            border-radius: 5px;
            background-color: transparent;
            color: var(--color1);
            border: 2px solid var(--color1);
            transition: all 0.3s ease;
            &:hover {
                background-color: var(--color3);
                color: var(--color1);
            }
            &.current {
                font-size: 1.2vw;
                padding: 1vw 1.2vw;
                border-radius: 5px;
                background-color: transparent;
                background-color: var(--color3);
                color: var(--color1);
                border: 2px solid var(--color1);
            }
         }
    }
}