/* MUST SELECT */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
    --ff: "Montserrat", sans-serif;
    --color1: #17252A;
    --color2: #2B7A78;
    --color3: #3AAFA9;
    --color4: #DEF2F1;
    --color5: #FEFFFF;
    --color6: #d9e4e3;
}

::selection {
    background: var(--color3);
    /* Background color for selected text */
    color: var(--color5);
    /* Text color for selected text */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--ff);
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("/assets/images/Main-Page/tools-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: multiply;
    background-position: center center;
}