/* CODE WELCOME SECTION */
.welcome-section {
    display: flex;
    position: relative;
    width: 100%;
    height: calc(100vh - 5rem);
    flex-direction: column;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    align-items: center;
    justify-content: center;
    color: var(--color4);

    >h1 {
        font-size: 5vw;
    }

    >h3 {
        font-size: 2.3vw;
        font-weight: 400;
    }

}

.main-wrapper {
    flex-direction: column;
    display: flex;
    position: relative;
    width: auto;
    padding: 8vw 3.125rem 8vw 3.125rem;
    background-color: var(--color6);
    height: max-content;

    >.breadcrumbs-list {
        display: flex;
        margin-bottom: 2vw;

        >a {
            font-size: 1.35vw;
            text-decoration: none;
            color: var(--color1);
            transition: all 0.3s ease;

            &:hover {
                color: var(--color3);
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
    >.featured-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 7vh;
        margin-bottom: 20vh;

        >.featured-heading {
            color: var(--color1);
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 7vh;
            >span {
                font-size: 4vw;
            }
        }

        >.featured-podcast {
            display: flex;
            width: 100%;
            padding: 3.5% 2.5%;
            background-color: var(--color5);
            border-radius: 10px;

            >.introduction {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 50%;
                gap: 2vh;

                >img {
                    object-fit: cover;
                }

                >span {
                    font-size: 2.5vw;
                    font-weight: bold;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    line-clamp: 3;
                    -webkit-box-orient: vertical;
                    text-overflow: ellipsis;
                }
            }
            >.description {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-left: 3%;
                >span {
                    font-size: 1.6vw;
                    font-weight: lighter;
                }
                >.links {
                    display: flex;
                    flex-wrap: wrap;
                    font-weight: bold;
                    >.cv-button {
                        display: flex;
                        width: 100%;
                        padding: 2vh 0;
                        background-color: var(--color1);
                        color: var(--color5);
                        font-size: 1.5vw;
                        margin-bottom: 0.5vh;
                        border-radius: 8px;
                        transition: color 0.3s ease;
                        align-items: center;
                        justify-content: center;
                        &:hover {
                            color: var(--color4);
                        }
                        >img {
                            width: 1.7vw;
                            height: 1.7vw;
                        }
                    }
                    >.soundcloud-button {
                        display: flex;
                        width: 49.5%;
                        margin-right: 1%;
                        padding: 1.4vh 0;
                        background-color: #FF5500; 
                        color: var(--color1);
                        font-size: 1.4vw;
                        transition: color 0.3s ease;
                        border-radius: 8px;
                        align-items: center;
                        justify-content: center;
                    }
                    >.facebook-button {
                        display: flex;
                        width: 49.5%;
                        padding: 1.4vh 0;
                        background-color: #1877F2;
                        color: var(--color1);
                        font-size: 1.4vw;
                        transition: color 0.3s ease;
                        border-radius: 8px;
                        align-items: center;
                        justify-content: center;
                    }
                    >.soundcloud-button:hover, >.facebook-button:hover {
                        color: var(--color5);
                    }
                }
            }
        }
    }
    >.archive-section {
        >.archive-heading {
            display: flex;
            width: 100%;
            font-size: 2.5vw;
            align-items: center;
            font-weight: bold;
            
        }
    }
}