/* MUST SELECT */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
:root {
  --ff: "Montserrat", sans-serif;
  --color1: #17252A;
  --color2: #2B7A78;
  --color3: #3AAFA9;
  --color4: #DEF2F1;
  --color5: #FEFFFF;
}
::selection {
  background: var(--color3); /* Background color for selected text */
  color: var(--color5); /* Text color for selected text */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: var(--ff);
}

html {
  scroll-behavior: smooth;
}
/* END MUST SELECT */

body {
  display: flex;
  height: max-content;
  flex-direction: column;
  margin: 0;
  justify-content: flex-start;
}

/* CODE NAVBAR */
.wrapper-nav-bar {
  background-color: #feffff;
  height: 5rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  justify-content: space-between;
  display: flex;
  align-items: center;
  border-bottom: 2px #e5eaec solid;
  z-index: 99999;
  transition: transform 0.3s ease-in-out;
}

.wrapper-nav-bar.hidden {
  transform: translateY(-100%);
} 

#logo {
  height: 55px;
  width: 76px;
  margin-right: 3.125rem;
  margin-left: 3.125rem;
}

.wrapper-nav-links {
  position: relative;
  list-style-type: none;
  display: flex;
  align-items: center;
  font-size: calc(0.8vw + 1vh);
  height: 5rem;
}

.nav-link {
  display: flex;
  padding: calc((5rem - 0.8vw - 1vh)/2);
}

.nav-link,
.nav-link>a {
  color: var(--color1);
  text-decoration: none;
  transition: all 0.3s ease;
}

.nav-link:hover,
.nav-link:hover>p {
  color: var(--color3);
  cursor: pointer;
  transform: translateY(-3px);
}

.wrapper-search-button {
  background-color: var(--color5);
  margin-right: 25px;
  height: 40px;
  padding: 15px 15px;
  border: 0.3px #d9e4e3 solid;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-items: center;
  display: flex;
  transition: border 1.2s ease;
}

.wrapper-search-button:hover {
  border: 1px var(--color3) solid;
  transition: border 1.2s ease;
}

.wrapper-search-button input {
  width: 0;
  outline: none;
  border: none;
  font-weight: 300;
  transition: all 0.8s ease;
}

.wrapper-search-button:hover input {
  width: 269px;
  cursor: pointer;
}

.wrapper-search-button i {
  color: var(--color3);
  font-size: 17px;
  transition: all 0.6s ease;
}

.wrapper-search-button:hover i {
  font-size: 23px;
}

.wrapper-login-button {
  margin-right: 3.125rem;
}

.wrapper-login-button>a {
  color: var(--color1);
  text-decoration: none;
  font-size: calc(0.8vw + 1vh);
  transition: all 0.3s ease;
}

.wrapper-login-button:hover>a {
  color: var(--color3);
  cursor: pointer;
}

.hoclieu-links {
  display: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .4);
  z-index: 99998;
}

.nav-link#hoclieu:hover+.hoclieu-links,
.hoclieu-links:hover {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: var(--color5);
  top: 100%;
  visibility: visible;
  opacity: 1;
  justify-content: space-between;
  width: 40vh;
  height: max-content;
}

.hoclieu-link:hover {
  color: var(--color3);
  background-color: var(--color4);
}

.hoclieu-link {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--color5);
  transition: all 0.3s ease;
  align-items: center;
  display: flex;
  padding-left: 25px;
  text-decoration: none;
  color: var(--color1);
}

.hoclieu-link#submenu-doc:hover+.hoclieu-link-submenu#doc-links,
.hoclieu-link-submenu#doc-links:hover {
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: var(--color5);
  justify-content: space-between;
  width: 40vh;
  height: max-content;
  top: 5.3rem;
  left: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .4);
  z-index: 99997;
}

.hoclieu-link#submenu-deonluyen:hover+.hoclieu-link-submenu#deonluyen-links,
.hoclieu-link-submenu#deonluyen-links:hover {
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: var(--color5);
  left: 100%;
  justify-content: space-between;
  width: 40vh;
  height: max-content;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .4);
  z-index: 99997;
}

.hoclieu-link-submenu#doc-links,
.hoclieu-link-submenu#deonluyen-links {
  display: none;
}

.hoclieu-link-submenu-links#doc-link,
.hoclieu-link-submenu-links#deonluyen-link {
  display: flex;
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--color5);
  align-items: center;
  padding-left: 25px;
  text-decoration: none;
  color: var(--color1);
  transition: all 0.3s ease;
}

.hoclieu-link-submenu-links#doc-link:hover,
.hoclieu-link-submenu-links#deonluyen-link:hover {
  background-color: var(--color4);
  color: var(--color3);
}

/* CODE MAIN IMAGE */

.wrapper-main-image {
  display: flex;
  position: relative;
  left: 0;
  width: 100%;
  height: max-content;
}

.main-image {
  display: flex;
  top: 0px;
  position: relative;
  width: 100%;
  height: max-content;
  z-index: -1;
}

.main-text {
  position: absolute;
  top: calc(5rem + 20vh);
  left: 3.125rem;
  color: var(--color5);
}

/* CODE TAILIEU */

.wrapper-tailieu {
  padding: 10vw 3.125rem 10vw 3.125rem;
  background-color: #d9e4e3;
  height: max-content;
  position: relative;
  display: flex;
  flex-direction: column;
}

.tailieu-introduction {
  display: flex;
  margin-bottom: 20vh;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
}

.tailieu-introduction h1 {
  font-size: 5.5vw;
  font-weight: 800;
  background: linear-gradient(45deg, var(--color1) 0%, var(--color2)100%);
  background-size: 300% 300%;
  background-clip: text;
  color: transparent;
  animation: bg 10s ease infinite;
}

@keyframes bg {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.wrapper-tailieu-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: max-content;
}

.section-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: max-content;
  margin-bottom: 3rem;
}


.name-heading {
  position: relative;
  font-size: 4.5vw;
  width: max-content;
}

.btn-view-all {
  position: relative;
  align-items: center;
  background-color: var(--color3);
  border: 1px solid var(--color3);
  border-radius: 15px;
  padding: 0.8vw 1vw 0.8vw 1vw;
  transition: all 0.3s ease;
  cursor: pointer;
  color: var(--color1);
  height: max-content;
}

.btn-view-all a {
  color: inherit;
  font-weight: 1000;
  max-height: 16px;
}

.btn-view-all:hover {
  background-color: var(--color1);
  color: var(--color3);
  border-color: var(--color1);
}

.wrapper-main-card {
  border-right: 0.3px solid #bdbdbd;
  width: 57.5%;
  padding-right: 2.5%;
  height: max-content;
  margin-bottom: 10vh;
}

.main-card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background-color: var(--color4);
  height: 80vh;
  width: 100%;
  gap: 3vh;
  transition: all 0.4s ease;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .4);
  overflow-x: hidden;
  overflow-y: hidden;
}

.main-card:hover {
  transform: translateY(-15px);

  .image-main-card {
    transform: scale(1.05);
  }
}

.image-main-card {
  width: 100%;
  height: max-content;
  max-height: 51.8vh;
  overflow: hidden, hidden;
  transition: all 0.4s ease;
}

.heading-main-card {
  font-size: 2.1vw;
  color: var(--color1);
  font-weight: 600;
  height: max-content;
  max-height: 12vh;
  padding: 0 1vw 0 1vw;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.description-main-card {
  font-size: 1.2vw;
  color: var(--color1);
  font-weight: 350;
  height: max-content;
  max-height: 8vh;
  padding: 0 1vw 0 1vw;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.hashtag-main-card {
  display: flex;
  font-size: 0.8rem;
  height: max-content;
  max-height: 7.4vh;
  gap: 0.3rem;
  padding: 0 1vw 0 1vw;
}

.wrapper-smaller-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10vh;
  border-left: 0.3px solid #bdbdbd;
  width: 42.5%;
  padding-left: 2.5%;
  height: 100%;
  margin-bottom: 10vh;
}

.smaller-card {
  display: flex;
  border-radius: 12px;
  width: 100%;
  height: calc((80vh - 10vh) / 2);
  background-color: var(--color4);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .4);
  overflow-x: hidden;
  overflow-y: hidden;
  transition: all 0.4s ease;
}

.smaller-card:hover {
  transform: scale(0.95);
}

.image-smaller-card {
  display: flex;
  height: 100%;
  max-width: 40%;
  overflow: hidden;
  object-fit: cover;
  transition: all 0.4s ease;
}

.content-smaller-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-width: 60%;
  overflow: hidden;
  padding: 2vw;
}

.heading-smaller-card {
  font-size: 1.5vw;
  color: var(--color1);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.hashtag-smaller-card {
  display: flex;
  gap: 0.3rem;
  font-size: 1vw;
}

.tailieu-icon {
  align-self: center;
  display: flex;
  width: 10vw;
  height: 10vw;
}

/* CODE DEONLUYEN */

.wrapper-deonluyen {
  position: relative;
  width: 100%;
  padding-top: calc(100% * 5063 / 3375);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container-deonluyen {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 10vw;
  left: 3.125rem;
  width: calc(100% - 6.25rem);
  height: calc(100% - 20vw);
  justify-content: space-between;
  color: var(--color5);
}

.deonluyen-introduction {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: max-content;
  align-items: center;
  height: max-content;
  max-height: 10%;
  color: var(--color4);
}

.deonluyen-introduction>h1 {
  font-size: 5.5vw;
}

.deonluyen-introduction>h2 {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  width: 40%;
  margin-left: auto;
  font-size: 2vw;
  font-weight: 100;
  text-align: end;
}

.deonluyen-container-content {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}

.deonluyen-content-introduction {
  display: flex;
  align-items: center;
  height: 20%;
  width: 100%;
}

.deonluyen-content-introduction>h2 {
  display: block;
  color: var(--color4);
  margin-right: 5vw;
  font-size: 3vw;
  font-weight: 700;
}

.deonluyen-content-introduction>h3 {
  font-size: 2vw;
  font-weight: 200;
  font-style: italic;
}

.btn-view-all#deonluyen {
  margin-left: auto;
  border: 1.8px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.4);
  color: var(--color5);
  font-weight: 550;
}

.btn-view-all#deonluyen>a {
  height: max-content;
  max-height: 16px;
  color: var(--color5);
  transition: color 0.3s ease;
}

.btn-view-all#deonluyen:hover {
  background-color: rgba(23, 37, 42, 0.2);
  >a {
    color: var(--color3);
  }
}

.deonluyen-container-cards.swiper {
  width: calc(100% - 100px);
  height: 90%;
  position: relative;
}

.deonluyen-wrapper-cards.swiper-wrapper .deonluyen-card.swiper-slide {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 12px;
  background-color: rgba(0, 0, 0, .3);
  user-select: none;
}

.swiper-parent {
  position: relative;
  width: 100%;
  height: 100%;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev,
.swiper-button-next {
  margin-top: -5vh;
  color: var(--color4);
  transition: color 0.3s ease;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: var(--color3);
}

.swiper-pagination-bullet {
  background-color: var(--color3);
}


.deonluyen-card-image {
  height: 60%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.deonluyen-card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.8vw;
  height: 40%;
  width: 100%;
  padding: 5%;
}

.deonluyen-card-content>h3 {
  font-size: clamp(0.6rem, 1.2vw, 1.4rem);
  color: var(--color4);
  font-weight: bold;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.deonluyen-card-content>button {
  font-weight: bold;
  font-size: clamp(0.6rem, 1.2vw, 1.4rem);
  width: max-content;
  padding: 0.6vw 0.8vw 0.6vw 0.8vw;
  background-color: var(--color4);
  color: var(--color1);
  border: 1px solid var(--color4);
  border-radius: 10px;
  transition: all 0.2s ease;
}

.deonluyen-card-content>button:hover {
  color: var(--color3);
  background-color: var(--color1);
  border-color: var(--color1);
  cursor: pointer;
}

/* PODCASTS CODE */
.wrapper-podcasts {
  width: 100%;
  padding-top: calc(100% * 4935 / 3456);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.container-podcasts {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 7vw;
  left: 3.125rem;
  width: calc(100% - 6.25rem);
  height: calc(100% - 14vw);
  overflow: hidden;
}

.podcasts-introduction {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: max-content;
  align-items: center;
}

.podcasts-introduction-1 {
  width: 70%;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color1);
}

.podcasts-introduction-1>h1 {
  font-size: 6vw;
  user-select: none;
  text-shadow: 2px 3px 1px #dac2d8;
}

.podcasts-introduction-2 {
  align-self: center;
  width: 70%;
  display: flex;
  height: auto;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5vw;
}

.podcasts-introduction-2>h3 {
  font-size: 2vw;
  font-weight: lighter;
  color: var(--color4);
}

.podcasts-introduction-2>a>img {
  width: 3.3vw;
  height: 3.3vw;
  border-radius: 50%;
  transition: all 0.1s ease;
}

.podcasts-introduction-2>a>img:hover {
  transform: scale(1.2);
  border: 3px solid var(--color3);
  border-radius: 50%;
}

.podcasts-content {
  display: flex;
  width: 100%;
}
.podcasts-content>img {
  height: 100%;
  max-width: 40%;
  overflow: hidden;
  object-fit: cover;
}

.podcasts-content>div {
  max-width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.podcasts-content#first>div {
  justify-content: space-between;
}

.podcasts-content#first>div>a {
  text-decoration: none;
  padding: 0.8vw 1vw 0.8vw 1vw;;
  background-color: var(--color3);
  color: var(--color1);
  font-weight: 550;
  width: max-content;
  border-radius: 10px;
  transition: background-color 0.3s ease, color 0.3s ease-in-out;
}

.podcasts-content#first>div>a:hover {
  background-color: var(--color1);
  color: var(--color3);
}

.podcasts-content#second>div {
  gap: 5vw;
}

.podcasts-conclusion {
  display: flex;
  flex-direction: column;
}

.podcasts-conclusion-introduction{
  width: 100%;
  align-items: center;
  position: relative;
  font-size: 3.6vw;
  font-weight: bold;
  display: flex;
}
.podcasts-conclusion-heading {
  display: flex;
  width: max-content;
  margin-right: 1.5%;
}

.text-change-list {
  display: flex;
  position: relative;
  height: 100%;
  width: 40%;;
}

.text-change-list>div {
  position: absolute;
  display: flex;
  width: max-content;
  color: var(--color3);
}

.text-change#first {
  animation: tc1 10s infinite;
}
.text-change#second {
  animation: tc2 10s infinite;
}
.text-change#third {
  animation: tc3 10s infinite;
}
.text-change#fourth {
  animation: tc4 10s infinite;
}

@keyframes tc1 {
  0% {
    opacity: 0;
  }
  12.5% {
    opacity: 1;
  }
  25%, 100% {
    opacity: 0;
  }
}
@keyframes tc2 {
  0%, 25% {
    opacity: 0;
  }
  37.5% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}
@keyframes tc3 {
  0%, 50% {
    opacity: 0;
  }
  62.5% {
    opacity: 1;
  }
  75%, 100% {
    opacity: 0;
  }
}
@keyframes tc4 {
  0%, 75% {
    opacity: 0;
  }
  87.5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.podcasts-conclusion-content {
  display: flex;
  flex-wrap: wrap;
  height: max-content;
}

.podcasts-conclusion-center {
  display: flex;
  justify-content: center;
  width: 100%;
  height: max-content;
  font-size: 1.7vw;
  font-weight: light;
  margin-bottom: 6vh;
  margin-top: 12vh;
}

.podcasts-conclusion-half {
  width: 47%;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  >.content a {
    border-radius: 8px;
    width: max-content;
    color: var(--color1);
    font-weight: bold;
    font-size: 1.4vw;
    padding: 0.8vw 1vw 0.8vw 1vw;
    background-color: var(--color4);
    cursor: pointer;
    transition: all 0.2s ease;
  }
  >.content a:hover {
    color: var(--color4);
    background-color: var(--color1);
  }
}

.podcasts-conclusion-half>.content {
  padding: 10% 5% 10% 5%;
  display: flex;
  flex-direction: column;
  >h1 {
    align-self: center;
    font-size: 2vw;
    margin-bottom: 3vh;
  }
  >p {
    font-size: 1.4vw;
    text-align: center;
    margin-bottom: 5vh;
  }
}

.podcasts-conclusion-half#left {
  margin-right: 3%;
  >.content a {
    align-self: center; 
  }
}

.podcasts-conclusion-half#right {
  margin-left: 3%;
  >.content>div {
    margin: 0 15% 0 15%;
    display: flex;
    justify-content: space-between;
  }
  >.content>div>a:nth-child(1) {
    background-color: #FF5500;
  }
  >.content>div>a:nth-child(2) {
    background-color: #1877F2;
  }
}

/*CODE TOOLS*/

.wrapper-tools {
  display: flex;
  width: 100%;
  position: relative;
  height: 110vh;
  background-color:#d9e4e3;
}

.content-tools {
  display: flex;
  width: 45%;
  height: 100%;
  position: relative;
  >div {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: calc(100% - 10vw);
    width: calc(100% - 6.25rem);
    top: 5vw;
    left: 3.125rem;
    >h1 {
      display: flex;
      width: 100%;
      align-content: center;
      justify-content: center;
      font-size: 3.5vw;
      margin-bottom: 18vh;
    }
    >p {
      display: flex;
      width: 100%;
      text-align: center;
      font-size: 1.5vw;
      margin-bottom: 21vh;
    }
    >a {
      text-decoration: none;
      color: var(--color1);
      font-weight: bold;
      font-size: 2vw;
      padding: 3vh 0 3vh 0;
      display: flex;
      width: 60%;
      border-radius: 8px;
      background-color: var(--color3);
      align-self: center;
      justify-content: center;
      align-content: center;
      transition: all 0.3s ease;
    }
    >a:hover {
      color: var(--color3);
      background-color: var(--color1);
    }
  }
}

.image-tools {
  width: 55%;
  height: 100%;
  >img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: polygon(17% 0, 100% 0, 100% 100%, 0% 100%);
  }
}

/* CODE FOOTER */
.wrapper-footer {
  display: flex; 
  width: 100%;
  height: 50vh;
  background-color: var(--color1);
  position: relative;
  color: var(--color4);
  >.container-footer {
    display: flex;
    flex-direction: column;
    position: relative;
    align-self: center;
    height: calc(100% - 12vh);
    left: 3.125rem;
    width: calc(100% - 6.25rem);
    a {
      text-decoration: none;
      color: var(--color4);
      transition: color 0.3s ease;
    }
    a:hover {
      color: var(--color3);
    }
    >div>a.image>img {
      height: 55px;
      width: 55px;
    }
    >div.external-links {
      display: flex;
      align-items: center;
      width: 100%;
      height: 50%;
      border-bottom: 0.01px solid var(--color5);
      >a:nth-child(2), >a:nth-child(3)
      {
        margin-left: 5%;
      }
      >a:nth-child(4) {
        margin-left: auto;
      }
    }
    >div.contact {
      display: flex;
      width: 100%;
      height: 50%;
      align-items: center;
      >p>a {
        color: var(--color3);
      }
      >p>span {
        color: var(--color3);
        text-decoration: underline;
      }
    }
  }
}
