


.main-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 2.5% 1.5%;
    background-color: var(--color1);
    height: 100%;
}

.introduction-wrapper {
    height: 100%;
    width: 32.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.introduction-wrapper>h1 {
    color: var(--color3);
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    width: 62.5%;
    height: 100%;
    padding: 2.5% 2%;
    background-color: var(--color5);
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    align-self: center;
    justify-self: center;
}

.logo-container {
    display: flex;
    align-self: center;
    margin-bottom: 2rem;
}
.login-logo {
    width: 70px;
    height: 55px;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.login-form>label {
    margin-bottom: 0.5rem;
}

.login-form>input {
    margin-bottom: 1rem;
    border-radius: 10px;
    padding: 15px 10px;
    transition: all 0.5s ease;
    border: 1px solid var(--color2);
    outline: none;
}

.login-form>input:focus {
    background-color: var(--color4);
    border: 1px solid var(--color6);
}