/* MUST SELECT */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
    --ff: "Montserrat", sans-serif;
    --color1: #17252A;
    --color2: #2B7A78;
    --color3: #3AAFA9;
    --color4: #DEF2F1;
    --color5: #FEFFFF;
    --color6: #d9e4e3;
}

::selection {
    background: var(--color3);
    /* Background color for selected text */
    color: var(--color5);
    /* Text color for selected text */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--ff);
}

html {
    scroll-behavior: smooth;
}

/* END MUST SELECT */

body {
    display: flex;
    height: max-content;
    flex-direction: column;
    margin: 0;
    justify-content: flex-start;
}

/* CODE NAVBAR */
.wrapper-nav-bar {
    background-color: #feffff;
    height: 5rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-bottom: 2px #e5eaec solid;
    z-index: 99999;
    transition: transform 0.3s ease-in-out;
}

.wrapper-nav-bar.hidden {
    transform: translateY(-100%);
}

#logo {
    height: 55px;
    width: 76px;
    margin-right: 3.125rem;
    margin-left: 3.125rem;
}

.wrapper-nav-links {
    position: relative;
    list-style-type: none;
    display: flex;
    align-items: center;
    font-size: calc(0.8vw + 1vh);
    height: 5rem;
}

.nav-link {
    display: flex;
    padding: calc((5rem - 0.8vw - 1vh)/2);
}

.nav-link,
.nav-link>a {
    color: var(--color1);
    text-decoration: none;
    transition: all 0.3s ease;
}

.nav-link:hover,
.nav-link:hover>p {
    color: var(--color3);
    cursor: pointer;
    transform: translateY(-3px);
}

.wrapper-search-button {
    background-color: var(--color5);
    margin-right: 25px;
    height: 40px;
    padding: 15px 15px;
    border: 0.3px #d9e4e3 solid;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
    display: flex;
    transition: border 1.2s ease;
}

.wrapper-search-button:hover {
    border: 1px var(--color3) solid;
    transition: border 1.2s ease;
}

.wrapper-search-button input {
    width: 0;
    outline: none;
    border: none;
    font-weight: 300;
    transition: all 0.8s ease;
}

.wrapper-search-button:hover input {
    width: 269px;
    cursor: pointer;
}

.wrapper-search-button i {
    color: var(--color3);
    font-size: 17px;
    transition: all 0.6s ease;
}

.wrapper-search-button:hover i {
    font-size: 23px;
}

.wrapper-login-button {
    margin-right: 3.125rem;
}

.wrapper-login-button>a {
    color: var(--color1);
    text-decoration: none;
    font-size: calc(0.8vw + 1vh);
    transition: all 0.3s ease;
}

.wrapper-login-button:hover>a {
    color: var(--color3);
    cursor: pointer;
}

.hoclieu-links {
    display: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .4);
    z-index: 99998;
}

.nav-link#hoclieu:hover+.hoclieu-links,
.hoclieu-links:hover {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--color5);
    top: 100%;
    visibility: visible;
    opacity: 1;
    justify-content: space-between;
    width: 40vh;
    height: max-content;
}

.hoclieu-link:hover {
    color: var(--color3);
    background-color: var(--color4);
}

.hoclieu-link {
    position: relative;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: var(--color5);
    transition: all 0.3s ease;
    align-items: center;
    display: flex;
    padding-left: 25px;
    text-decoration: none;
    color: var(--color1);
}

.hoclieu-link#submenu-doc:hover+.hoclieu-link-submenu#doc-links,
.hoclieu-link-submenu#doc-links:hover {
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: var(--color5);
    justify-content: space-between;
    width: 40vh;
    height: max-content;
    top: 5.3rem;
    left: 100%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .4);
    z-index: 99997;
}

.hoclieu-link#submenu-deonluyen:hover+.hoclieu-link-submenu#deonluyen-links,
.hoclieu-link-submenu#deonluyen-links:hover {
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: var(--color5);
    left: 100%;
    justify-content: space-between;
    width: 40vh;
    height: max-content;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .4);
    z-index: 99997;
}

.hoclieu-link-submenu#doc-links,
.hoclieu-link-submenu#deonluyen-links {
    display: none;
}

.hoclieu-link-submenu-links#doc-link,
.hoclieu-link-submenu-links#deonluyen-link {
    display: flex;
    position: relative;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: var(--color5);
    align-items: center;
    padding-left: 25px;
    text-decoration: none;
    color: var(--color1);
    transition: all 0.3s ease;
}

.hoclieu-link-submenu-links#doc-link:hover,
.hoclieu-link-submenu-links#deonluyen-link:hover {
    background-color: var(--color4);
    color: var(--color3);
}

/* CODE WELCOME SECTION */
.welcome-section {
    display: flex;
    position: relative;
    width: 100%;
    height: calc(100vh - 5rem);
    flex-direction: column;
    background-image: url("../assets/images/Main-Page/main-image.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    align-items: center;
    justify-content: center;
    color: var(--color4);
    >h1 {
        font-size: 5vw;
     }
    >h3 {
        font-size: 2.3vw;
         font-weight: 400;
    }

}
/* CODE MAIN SECTION */
.main-wrapper {
    flex-direction: column;
    display: flex;
    position: relative;
    width: auto;
    padding: 8vw 3.125rem 8vw 3.125rem;
    background-color: var(--color6);
    height: max-content;
    >.breadcrumbs-list {
        display: flex;
        margin-bottom: 2vw;
        >a {
            font-size: 1vw;
            text-decoration: none;
            color: var(--color1);
            transition: all 0.3s ease;
            &:hover {
            color: var(--color3);
            text-decoration: underline;
            cursor: pointer;
            }
        }
    }
    >h1 {
        display: flex;
        width: 100%;
        align-self: left;
        font-size: 3.5vw;
    }
    >.posts-container {
        display: flex;
        width: 100%;
        margin-top: 8vw;
        height: auto;
        >.posts-image {
            max-width: 35%;
            height: 100%;
            object-fit: cover;
            margin-right: 5%;
        }
        >.posts-content {
            max-width: 60%;
            height: 100%;
            display: flex;
            flex-direction: column;
            height: inherit;
            justify-content: space-between;
            >a.title {
                font-size: 1.7vw;
                font-weight: 600;
                text-decoration: none;
                color: var(--color1);
                transition: all 0.3s ease;
                display: -webkit-box;
                overflow: hidden;
                -webkit-line-clamp: 2;
                line-clamp: 2;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                &:hover {
                    color: var(--color3);
                }
            }
            >p.excerpt {
                font-size: 1.25vw;
            }
            >div.info {
                display: flex;
                justify-content: space-between;
                >div.tags {
                    display: flex;
                    gap: 1.2vw;
                    >a.tag {
                        font-size: 1vw;
                        padding: 0.3vw 0.8vw 0.3vw 0.8vw;
                        border-radius: 8px;
                        color: var(--color1);
                        background-color: var(--color3);
                        transition: all 0.3s ease;
                        &:hover {
                            background-color: var(--color1);
                            color: var(--color3);
                        }
                    }
                }  
                >div.date {
                font-size: 1.1vw;
                }  
            }
        }
    }
    >.pagination {
        margin-top: 5vw;
        display: flex;
        justify-content: center;
        font-size: 1.1vw;
        align-items: center;
        font-weight: bold;
        
        >a {
            font-size: 1.2vw;
            padding: 1vw 1.2vw;
            border-radius: 5px;
            background-color: transparent;
            color: var(--color1);
            border: 2px solid var(--color1);
            transition: all 0.3s ease;
            &:hover {
                background-color: var(--color3);
                color: var(--color1);
            }
         }
    }

}
/* CODE FOOTER */
.wrapper-footer {
    display: flex;
    width: 100%;
    height: 50vh;
    background-color: var(--color1);
    position: relative;
    color: var(--color4);

    >.container-footer {
        display: flex;
        flex-direction: column;
        position: relative;
        align-self: center;
        height: calc(100% - 12vh);
        left: 3.125rem;
        width: calc(100% - 6.25rem);

        a {
            text-decoration: none;
            color: var(--color4);
            transition: color 0.3s ease;
        }

        a:hover {
            color: var(--color3);
        }

        >div>a.image>img {
            height: 55px;
            width: 55px;
        }

        >div.external-links {
            display: flex;
            align-items: center;
            width: 100%;
            height: 50%;
            border-bottom: 0.01px solid var(--color5);

            >a:nth-child(2),
            >a:nth-child(3) {
                margin-left: 5%;
            }

            >a:nth-child(4) {
                margin-left: auto;
            }
        }

        >div.contact {
            display: flex;
            width: 100%;
            height: 50%;
            align-items: center;

            >p>a {
                color: var(--color3);
            }

            >p>span {
                color: var(--color3);
                text-decoration: underline;
            }
        }
    }
}