/* CODE WELCOME SECTION */
.welcome-section {
    display: flex;
    position: relative;
    width: 100%;
    height: calc(100vh - 5rem);
    flex-direction: column;
    background-image: url("../assets/images/Main-Page/main-image.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    align-items: center;
    justify-content: center;
    color: var(--color4);

    >h1 {
        font-size: 5vw;
    }

    >h3 {
        font-size: 2.3vw;
        font-weight: 400;
    }
}

/* CODE MAIN SECTION */
.main-section {
    flex-direction: column;
    display: flex;
    position: relative;
    width: auto;
    padding: 8vw 3.125rem 8vw 3.125rem;
    background-color: var(--color6);
    height: max-content;

    .breadcrumbs-list {
        display: flex;
        margin-bottom: 2vw;

        >a {
            font-size: 1.35vw;
            text-decoration: none;
            color: var(--color1);
            transition: all 0.3s ease;

            &:hover {
                color: var(--color2);
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    .navigation {
        display: flex;
        align-items: center;
        padding-bottom: 3vh;
        border-bottom: 1px solid var(--color2);

        >a.active {
            color: var(--color3);
            border-bottom: 3px solid var(--color3);
            border-radius: unset;
        }

        >a:hover {
            background-color: lightsteelblue;
        }

        >a {
            margin-right: 1.5vw;
            font-size: 1.35vw;
            text-decoration: none;
            color: var(--color1);
            font-weight: bold;
            transition: all 0.3s ease;
            padding: 1.2vh 1.0vw 1.2vh 1.0vw;
            border-radius: 8px;
            background-color: transparent;
            transition: all 0.3s ease;
        }
    }

    .container-tests {
        display: flex;
        margin-top: 8vh;
        height: max-content;
        width: 100%;
        gap: 8vh calc((100% - 88%) / 3);
        flex-wrap: wrap;

        >.card-test {
            display: flex;
            flex-direction: column;
            height: inherit;
            width: 22%;
            background-color: var(--color4);
            text-decoration: none;
            border-radius: 5px;
            box-shadow: 0px 5px rgba(0, 0, 0, .3);
            transition: transform 0.5s ease;
            padding-bottom: 3.5vh;

            &:hover {
                transform: translateY(-1.8vh);
            }

            >a.content {
                >img {
                    width: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                }

                >p {
                    color: var(--color1);
                    font-size: 1.2vw;
                    font-weight: bold;
                    margin-bottom: 1.5vh;
                    display: -webkit-box;
                    overflow: hidden;
                    -webkit-line-clamp: 3;
                    line-clamp: 3;
                    -webkit-box-orient: vertical;
                    text-overflow: ellipsis;
                    transition: all 0.3s ease;
                    margin: 2vh 1vw 2vh 1vw;
                }
            }
            >a.grade {
                color: var(--color1);
                display: flex;
                width: max-content;
                height: max-content;
                padding: 2vh 1vw 2vh 1vw;
                transition: all 0.3s ease;
                &:hover {
                    color: var(--color2);
                    text-decoration: underline;
                    cursor: pointer;
                }
            }

            >a.teststart-button {
                display: flex;
                align-self: center;
                align-items: center;
                border-radius: 5px;
                padding: 1.2vh 1vw 1.2vh 1vw;
                background-color: var(--color1);
                transition: all 0.3s ease;
                color: var(--color5);
                font-weight: bold;

                &:hover {
                    background-color: var(--color3);
                }
            }
        }
    }
    .pagination {
        margin-top: 20vh;
        display: flex;
        justify-content: center;
        align-self: center;
        font-size: 1.1vw;
        align-items: center;
        font-weight: bold;
        
        .page-numbers {
            font-size: 1.2vw;
            padding: 1vw 1.2vw;
            border-radius: 5px;
            background-color: transparent;
            color: var(--color1);
            border: 2px solid var(--color1);
            transition: all 0.3s ease;
            &:hover {
                background-color: var(--color3);
                color: var(--color1);
            }
            &.current {
                font-size: 1.2vw;
                padding: 1vw 1.2vw;
                border-radius: 5px;
                background-color: transparent;
                border: 2px solid var(--color1);
                background-color: var(--color3);
                color: var(--color1);
            }
         }
    }
    >p {
        display: flex;
        text-align: center;
        margin-top: 15vh;
        font-size: 1.5vw;
        align-self: center;
    }
}